<%= form_for(@appointment) do |f| %>
  <div class="field">
    <%#= f.label :patient_id %><br>
    <%#= f.number_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.select :doctor_id, @doctor.collect {|p| [ p.name, p.id ] }, {include_blank: 'Select Doctor'} %>
  </div>
  <div class="field">
    <%#= f.label :kiosk_id %><br>
    <%#= f.select :kiosk_id, @koisk.collect {|p| [ p.name, p.id ] }, {include_blank: 'Select kiosk'} %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :appointment_date %><br>
    <%= f.datetime_select :appointment_date %>
  </div>
  <div class="field">
    <%= f.label :allotment_date %><br>
    <%= f.datetime_select :allotment_date %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>