<!DOCTYPE html>
<html>
<head>
  <title>Online Medical Service</title>
  <%= stylesheet_link_tag "application", "style", "jquery-ui-1.10.3.custom.min", "jquery-ui-1.10.3.custom", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.10.2.min", "jquery-1.10.2", "jquery-ui.min", "jquery.validationEngine", "jquery.validationEngine-en", "jquery-ui-1.10.3.custom.min", "jquery-ui-1.10.3.custom", "jquery-1.9.1" %>
  <%= csrf_meta_tags %>
</head>
<body onload="startTime()">
<%= render :partial => 'layouts/header' %>
<div id="container">
  <%= yield %>
  <span id="time"> </span>
</div>
<%= render :partial => 'layouts/footer' %>
</body>
</html>
